@import "./_variables.scss";

* {
  font-family: "muli";
}

body {
  background-image: linear-gradient(to top, #f5f9fa 0%, white 100%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 26%);
  grid-auto-rows: minmax(80px, auto);
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
  justify-content: center;
  align-content: center;
  margin-top: 3em;
}

.grid-item {
  background-color: #fff;
  border-radius: 12px;
  padding: 1em;
  box-shadow: 0 6px 15px rgb(36 37 38 / 8%);
  overflow: hidden;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  &:hover {
    box-shadow: 5px 12px 20px rgba(77, 89, 101, 0.13);
  }
}
.filters-container {
  display: block;
  margin: auto;
  margin-top: 7em;
}

.header {
  width: fit-content;
}

.btn-filter {
  color: $primaryColor;
  text-decoration: none;
  @include btnFilter;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 39%);
  }
}

@media screen and (max-width: 770px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 85%);
    height: auto;
    margin-top: 3em;
  }
}
