* {
  font-family: "muli";
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f9fa), to(white));
  background-image: linear-gradient(to top, #f5f9fa 0%, white 100%);
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26% 1.5em 26% 1.5em 26%;
  grid-template-columns: repeat(3, 26%);
  grid-auto-rows: minmax(80px, auto);
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 3em;
}

.grid-item {
  background-color: #fff;
  border-radius: 12px;
  padding: 1em;
  -webkit-box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
          box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: -webkit-box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease, -webkit-box-shadow 0.25s ease, -webkit-transform 0.25s ease;
}
.grid-item:hover {
  -webkit-box-shadow: 5px 12px 20px rgba(77, 89, 101, 0.13);
          box-shadow: 5px 12px 20px rgba(77, 89, 101, 0.13);
}

.filters-container {
  display: block;
  margin: auto;
  margin-top: 7em;
}

.header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-filter {
  color: #323232;
  text-decoration: none;
  background-color: #ed145b;
  border-radius: 7px;
  color: #fff;
  margin: 0 0.2em;
  padding: 0.3em 0.7em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.btn-filter:hover {
  background-color: #ef4670;
  -webkit-box-shadow: 5px 12px 20px rgba(188, 36, 104, 0.13);
          box-shadow: 5px 12px 20px rgba(188, 36, 104, 0.13);
}

.active {
  background-color: #323232;
}

.active:hover {
  background-color: #424141;
  -webkit-box-shadow: 5px 12px 20px rgba(77, 89, 101, 0.13);
          box-shadow: 5px 12px 20px rgba(77, 89, 101, 0.13);
}

@media screen and (max-width: 1024px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (39%)[2];
    grid-template-columns: repeat(2, 39%);
  }
}
@media screen and (max-width: 770px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (85%)[1];
    grid-template-columns: repeat(1, 85%);
    height: auto;
    margin-top: 3em;
  }
}